.pagintator {
    clear: both;
    display: block;
    left: 50%;
    position: relative;
}
.pagintator li {
    display: inline;
}

.right-sidebar-category{
    float: right;
    padding-right: 30px;
}
.navigateion{
    border: 2px solid #ccc;
    background: #322F32;
}

.open {
    color:red;
}


ul{
   
    color:#000;
}




* {
	margin: 0;
	padding: 0;
}
body {
	font: 12px/18px Arial, sans-serif;
	width: 100%;
}
.wrapper {
	border: 1px solid #CCCCCC;
        box-shadow: 0 0 5px 0 #CCCCCC;
        margin: 0 auto;
        width: 1000px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 150px;
        padding: 10px;
	
}


/* Middle
-----------------------------------------------------------------------------*/
.top-menu ul{
    display: inline-block;
    list-style-type: none;
}

/* menu
-----------------------------------------------------------------------------*/
.middle {
	 margin-bottom: 15px;
        position: relative;
        width: 100%;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding-left: 25%;
        padding-right: 25%;
}
.contentCategory{
     
     padding: 15px;
     float:left;
     width: 80%;
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	
        float: left;
        margin-left: -100%;
        padding: 10px;
        position: relative;
        width: 20%;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	
        float: left;
        margin-left: -222px;
        padding: 10px;
        position: relative;
        width: 20%;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	border-top: 1px solid #CCCCCC;
        height: 100px;
        padding: 10px;
    }